<% remote_form_for @task do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 3 %>
  </p>
  <p>
    <%= f.label :due_date %><br />
    <%= f.datetime_select :due_date %>
  </p>
  <p>
    <%= f.label :finished %><br />
    <%= f.check_box :finished %>
  </p>
  <p><%= f.submit %> <input type="reset" value="Reset"/></p>
<% end %>
