<tr id="<%= dom_id task %>">
  <td><%= task.name %></td>
  <td><%= task.description %></td>
  <td><%= task.due_date %></td>
  <td><%= task.finished %></td>
  <td><%= link_to "Show", task %></td>
  <td><%= link_to "Edit", edit_task_path(task), :remote => true %></td>
  <td><%= link_to "Destroy", task, :confirm => 'Are you sure?', :method => :delete, :remote => true %></td>
</tr>
